@model List<FeedItem>
@{
    Layout = null;
}
@if (Model != null && Model.Any())
{
    <div id="DVisitItems" class="panel panel-default">
        <div class="panel-heading" style="min-height:25px">
            همزمان دیگران چه می‌خوانند
        </div>
        <div class="panel-body" style="padding: 3px;background-color:#fff">
            <ul id="ticker">
                @foreach (var item in Model)
                {
                    if (item == null || item.Id == null || item.ItemId == 0 || string.IsNullOrEmpty(item.Title))
                    {
                        continue;
                    }
                    else
                    {
                        <li>
                            <span style="color: red">*</span>
                            <a class="ItemTracker" target="_blank"
                               data-feeditemid="@(item.ItemId > 0 ? item.ItemId.ToString() :!string.IsNullOrEmpty(item.Id.ToString())?item.Id.ToString():"")"
                               href="@string.Concat("/site/",item.SiteUrl,"/", (item.ItemId>0?item.ItemId.ToString():item.Id.ToString()) , "/" , item.Title.RemoveBadCharacterInURL())">
                                @item.Title
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
}