@model Mn.NewsCms.Web.WebLogic.BaseModel.PageGridModel
@{
    ViewBag.Title = "مدیریت دسته بندیها";
}
<div class="box">

    @(Html.Kendo().Grid<CategoryViewModel>().Name("gridCategory").Columns(column =>
{
    column.Bound(c => c.Id);
    column.Bound(c => c.Title);
    column.Bound(c => c.Code);
    column.Bound(c => c.Color);
    column.Bound(c => c.Priority);  
    column.Bound(c => c.Id).ClientTemplate(@Model.GridMenu.ToString()).Width(120).Title("").Filterable(false);
}
).Pageable()
.Sortable()
.DataSource(ds => ds.Ajax().Read(read => read.Action(MVC.Dashboard.Category.ActionNames.Category_Read, MVC.Dashboard.Category.Name)))
   .Editable(e => e.Enabled(false))
   .Events(evn => evn.DataBound("onGridDataBound"))
   .Resizable(resize => resize.Columns(true))
    )
</div>
