@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
</head>
<body>
    <div>
        <h5>@ViewBag.UpdaterStatus</h5>
        <br />     
    </div>
</body>
</html>
