@{
    ViewBag.Title = "تایید ایمیل";
}

<h2>ممنون از تایید ایمیل</h2>
<div>
    <p>      
        <br />
        <br />
        @Html.ActionLink("با کلیک روی اینجا", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        میتوانید با نام کاربری تان وارد سایت شوید.
    </p>
</div>
