@{
    ViewBag.Title = "ثبت نام با موفقیت انجام شد";
}
<div class="panel" style="min-height:450px">

    <h3>@ViewBag.Title.</h3>
    <br />
    <p class="text-info">
        ایمیل تایید برای شما ارسال شده است
    </p>
    <br />
    <p class="text-danger">
        همچنین برای تایید ثبت نام میتوانید روی <a href="@ViewBag.Link">لینک</a> زیر نیز کلیک کنید
    </p>
</div>