@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       لطفا ایمیل خود را ببینید.لینک دسترسی به حساب کاربری به ایمیل تان ارسال شد.
        <br />
        <br />
        اگر پیام ما را دریافت نکرده بودید.بخش اسپم ایمیلتان را نیز بررسی کنید.
    </p>
</div>
	
