<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="MaxDescriptionLength" value="1800"/>
    <add key="MaxFeedCountAsService" value="30"/>
    <add key="DefaultDurationCode" value="1Day"/>
    <add key="FeedCountInDuration" value="200"/>
    <add key="TimeInterval" value="30"/>
    <add key="StartNightly" value="6"/>
    <add key="EndNightly" value="19"/>
    <add key="UTCDelay" value="4.5"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <remove assembly="DevExpress.Data.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <remove assembly="DevExpress.Web.ASPxEditors.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <remove assembly="DevExpress.Web.ASPxGridView.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <remove assembly="DevExpress.Web.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <remove assembly="DevExpress.Web.ASPxHtmlEditor.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <remove assembly="DevExpress.Web.ASPxSpellChecker.v11.1, Version=11.1.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBaseServer" sendTimeout="00:05:00" receiveTimeout="00:05:00" closeTimeout="00:05:00" openTimeout="00:05:00" maxBufferPoolSize="1048576" maxReceivedMessageSize="2147483">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IBaseServer1">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3468/BaseServer.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBaseServer" contract="Tazeyab.Common.IBaseServer" name="WSHttpBinding_IBaseServer"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>