@{
    Layout = null;    
}
<header>
    <style type="text/css">
        .rwp-container {
            font-family: Tahoma;
            font-size: 12px;
            direction: rtl;
            background-color: #fff;
            height: 100%;
        }

            .rwp-container .DWpHeader {
                border: 1px solid #e8ebeb;
                padding: 0.4em;
                background-color: #f2f5f6;
                color: #666666;
                width: 95%;
                font-weight: 600;
                margin-right: auto;
                margin-left: auto;
                font-family: tahoma;
                font-size: 12px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                text-align: right;
            }
    </style>
    @MvcHtmlString.Create(ViewBag.CssLink)
    @MvcHtmlString.Create(ViewBag.JavaScript)
</header>

<div class="rwp-container">
    @MvcHtmlString.Create(ViewBag.Content)
</div>
