/*-----------------menu---------------*/

#treeMenu {
    left: auto;
    margin-top: -13px;
    width: 98%;
    font: normal 12px Tahoma, 'Segoe UI', Helvetica, Arial, sans-serif;
    direction: rtl;
}

    #treeMenu ul {       
        list-style: none;
        padding: 0px;
        margin-top: 10px;
    }

        #treeMenu ul li {
            overflow: hidden;
            background: #f5f5f5 url(../../Images/treeTabBg.gif) repeat-x 0 0;
            border: solid 1px #fff;
            margin: 1px 0 0 0;
            vertical-align: middle;
            text-align: right;
        }

            #treeMenu ul li span {
                display: none;
                float: left;
                width: 27px;
                height: 30px;
                background: url(../../Images/treeSplit.png) no-repeat 100% 0;
                cursor: pointer;
                margin-right: 2px;
            }

            #treeMenu ul li a {
                color: #4d5f6b;
                font-size: 11px;
                padding: 1px 1px 0 1px;
                display: inline-block;
                text-decoration: none;
                margin-top: 4px;
                right: 0;
                height: 20px;
            }

            #treeMenu ul li span.opened {
                background-position: 100% -61px;
            }

            #treeMenu ul li div {
                clear: both;
                height: auto;
            }

                #treeMenu ul li div ul li {
                    /*margin-right:-20px;*/
                }

            #treeMenu ul li li {
                background: none;
                border: 0;
                margin: 0;
                padding-left: 11px;
                border-bottom: solid 1px #fff;
                border-top: solid 1px #eee;
                clear: both;
            }

                #treeMenu ul li li a {
                    color: #626262;
                    font-size: 11px;
                    padding: 5px 0;
                    float: right;
                    width: auto;
                }

                    #treeMenu ul li li a:hover {
                        text-decoration: underline;
                        color: #333;
                    }

                #treeMenu ul li li span {
                    float: right;
                    display: inline;
                    width: 15px;
                    height: 15px;
                    background-position: -10px -263px;
                    cursor: default;
                    display: none;
                }

                    #treeMenu ul li li span.closed {
                        background-position: -10px -131px;
                        cursor: pointer;
                    }

                        #treeMenu ul li li span.closed.opened {
                            background-position: -7px -197px;
                        }

                #treeMenu ul li li li {
                    border: 0;
                }

.MoreBtn {
    background-color: #206477;
    background-image: -moz-linear-gradient(center top, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

    .MoreBtn:hover {
        color: #FFFFFF;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        background-color: #49AFCD;
    }

    .MoreBtn a:hover {
        color: #FF0000;
    }

