@model Mn.NewsCms.Web.WebLogic.BaseModel.PageGridModel
@{
    ViewBag.Title = "منوهای سایت";
}

<div id="filterPanel" class="row panel panel-default" onkeypress="keyPress(event, 'searchMessage')" style="margin:0; margin-bottom:20px;padding:5px">
    <div class="col-sm-12"><h5>جستجو:</h5></div>
    <div class="col-sm-4">
        <label>شناسه چت</label>
        <input type="text" id="txtId" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>نام کاربر</label>
        <input type="text" id="txtName" class="form-control" />
    </div>
    <div class="col-sm-4">
        <label>متن دستور</label>
        <input type="text" id="txtCommand" class="form-control" />
    </div>
    <div class="col-sm-12" style="margin-top:10px;">
        <input type="button" class="btn btn-success pull-left" id="searchMessage" value="جستجو" />
    </div>
</div>
<div class="k-rtl">
    @(Html.Kendo().Grid<TelegramMessage>().Name("messageGrid")
.Columns(column =>
{
    column.Bound(c => c.Id).Hidden();
    column.Bound(c => c.Name).Width(150);
    column.Bound(c => c.ChatId).Width(80);
    column.Bound(c => c.CreateDateTime).ClientTemplate("#=persianDateTime(CreateDateTime)#").Width(80);
    column.Bound(c => c.Command);
}).DataSource(datasource => datasource
                .Ajax()
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(m => m.Id);
                })
                        .Read(read => read.Action(MVC.Dashboard.Telegram.ActionNames.Telegram_Read, MVC.Dashboard.Telegram.Name)))
   .Filterable()
   .Groupable()
   .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
   .Events(evn => evn.DataBound("onGridDataBound"))
   .Resizable(resize => resize.Columns(true))

    )
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#searchMessage").click(function () {
                filterMessages();
            });

        });

        function filterMessages() {
            var grid = $("#messageGrid").data("kendoGrid");
            var ChatId = $("#filterPanel #txtId").val();
            var Name = $("#filterPanel #txtName").val();
            var Command = $("#filterPanel #txtCommand").val();
            if (ChatId != null && ChatId != "")
                grid.dataSource.filter({ field: "ChatId", operator: "eq", value: ChatId });
            else if (Name != null && Name != "")
                grid.dataSource.filter({ field: "Name", operator: "startswith", value: Name });
            else if (Command != null && Command != "")
                grid.dataSource.filter({ field: "Command", operator: "startswith", value: Command });
            else {
                grid.dataSource.filter({});
            }

            grid.dataSource.fetch();
        }
    </script>
}