body
{
}
#DSponser
{
    text-align: center;
    width: 100%;
    padding: 2px;
}
.SponserRead
{
    border-bottom: 1px solid #99CCFF;
    color: #6699FF;
    font-size: 11px;
    padding: 3px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.SponserRead a
{
    color: #6699FF;
    font-size: 11px;
}
.SponserRead:hover
{
    color: #FF3300;
}
.SponserRead a:hover
{
    color: #FF3300;
}


