<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="TazehaContext" connectionString="Data Source=.;Initial Catalog=Tazeyab;User ID=sa;Password=1;integrated security=False" providerName="System.Data.SqlClient" />-->
  <add name="TazehaContext" connectionString="Data Source=88.198.61.220;Initial Catalog=Tazeyab;User ID=sa;Password=jb@123400;integrated security=False" providerName="System.Data.SqlClient" />
</connectionStrings>


